{% extends "layout.html" %}
{% block title %}Linx{% endblock %}

{% block content %}
    <form class="form" method="post" action="/">
        <div class="form__row">
            <input name="url" type="text" placeholder="https://example.com" required />
            <input
                name="code"
                type="text"
                placeholder="code (optional)"
                maxlength="32"
            />
            <button class="button" type="submit">Shorten URL</button>
        </div>

        {% if msg.is_some() %}
            <div class="notice notice--ok">{{ msg.as_ref().unwrap() }}</div>
        {% endif %}
    </form>
{% endblock %}
